
    ul.menuhorizontal li {
    
    width: 300px;
    display: inline;
    float: left;
    }
    
    ul.menuhorizontal li a:link, ul.menuhorizontal li a:visited {
    padding: .3em;
    display: block;
    text-decoration: none;
    color: #333;
    background: red;
    border-top:1px solid #7C7C7C;
    border-right:1px solid #7C7C7C;
    border-bottom:1px solid #9C9C9C;
    }
   

    ul.menuhorizontal1 li {
    
        width: 300px;
        display: inline;
        float: left;
        }
        
        ul.menuhorizontal1 li a:link, ul.menuhorizontal1 li a:visited {
        padding: .3em;
        display: block;
        text-decoration: none;
        color: #333;
        background: yellow;
        border-top:1px solid #7C7C7C;
        border-right:1px solid #7C7C7C;
        border-bottom:1px solid #9C9C9C;
        }
      

        ul.menuhorizontal2 li {
    
            width: 300px;
            display: inline;
            float: left;
            }
            
            ul.menuhorizontal2 li a:link, ul.menuhorizontal2 li a:visited {
            padding: .3em;
            display: block;
            text-decoration: none;
            color: #333;
            background:green;
            border-top:1px solid #7C7C7C;
            border-right:1px solid #7C7C7C;
            border-bottom:1px solid #9C9C9C;
            }
          
            #unico {
                color: black;
                background-color: rgb(91, 159, 236);
                padding: 15px;
            }

            #primero {
                color: white;
                background-color:rgb(179, 6, 6);
                padding: 15px;
            }

            ul.menuhorizontal3 li {
    
                width: 300px;
                display: inline;
                float: left;
                }
                
                ul.menuhorizontal3 li a:link, ul.menuhorizontal3 li a:visited {
                padding: .3em;
                display: block;
                text-decoration: none;
                color: #333;
                background:white;
                border-top:1px solid #7C7C7C;
                border-right:1px solid #7C7C7C;
                border-bottom:1px solid #9C9C9C;
                }
               